body {
    font-family: WorkSans, Arial;
    background-color: #060714;
    margin: 0;
    padding: 0;
}

.image-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.image-container::before {
    padding-top: 5%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('image1.png');
    background-position: right;
    background-size: cover;
    opacity: 0.7;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%);
    color: #b0d3db;
    font-family: WorkSans, Arial;
    font-size: 30px;
    font-weight: bold;
    z-index: 10;
}

.overlay-text p {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.main-container {
    position: relative;
    border-bottom: 2px solid #505270;
}

.navbar {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    padding: 15px;
    background-color: #505270;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #b0d3db;
    font-weight: lighter;
    font-family: WorkSans, Arial;
    font-size: 25px;
}

h2.about-signscape {
    text-align: center;
    color: #b0d3db;
    font-family: WorkSans, Arial;
}

h2.frequent,
p {
    text-align: center;
    color: #b0d3db;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

hr {
    border: 0;
    height: 4px;
    background-color: #b0d3db;
}

.overlay-section {
    position: relative;
    height: 400px;
    background-image: url('image2.png');
    background-size: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.blue-box {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 80%;
    padding: 20px;
    color: #b0d3db;
    font-size: 20px;
    text-align: center;
}

.box1 {
    left: calc(50% - 40%);
    background-color: rgba(23, 26, 67, 0.7);
    padding-left: 30px;
    margin-right: 35px;
}

.box2 {
    left: calc(50% - 10%);
    background-color: #505270;
    margin-right: 35px;
}

.box3 {
    left: calc(50% + 20%);
    background-color: rgba(23, 26, 67, 0.9);
}
.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: WorkSans, Arial;
    font-size: 14px;
    margin-top: 40px; 
}
.footer-left p {
    margin: 0;
}

.footer-right p {
    margin: 0;
}

.footer-right p a {
    color: #F397B0;
    text-decoration: none;
}

.footer-right p a:hover {
    text-decoration: underline;
}
